// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// formvuelar
@import "~formvuelar/dist/formvuelar.css";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mb-content {
    margin-bottom: 10px;
}

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "メイリオ", sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

#surround_character {
    color: #364e96;
    border: solid 3px #364e96;
    padding: 0.22em;
    border-radius: 0.5em;
    width: 10%;
    font-weight: bold;
    margin-left: 20px;
}

#background_color_radius {
    background: #b0dcfa;
    /*背景色*/
    padding: 0.5em;
    /*文字周りの余白*/
    color: white;
    /*文字を白に*/
    border-radius: 0.5em;
    /*角の丸み*/
    margin-left: 20px;
}

#circle_and_shadow {
    position: relative;
    background: #fcf8e3;
    padding: 2px 5px 2px 20px;
    font-size: 20px;
    color: #474747;
    border-radius: 0 10px 10px 0;
    margin-left: 10px;
}

#circle_and_shadow:before {
    font-family: "Font Awesome 5 Free";
    content: "\f041";
    display: inline-block;
    line-height: 40px;
    position: absolute;
    padding: 0em;
    color: #ff6363;
    background: #ff6363;
    font-weight: normal;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 40px;
    left: -1.35em;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
    margin-left: 2px;
}

.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: 0.4s;
}

.square_btn:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: #67c5ff;
    transition: 0.2s;
}

.square_btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #67c5ff;
    transition: 0.2s;
}

.square_btn:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

.square_btn:hover:after {
    top: 3px;
}

.square_btn2 {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #0068b7;
    color: #f7f7f7;
    /*文字色*/
    font-weight: bold;
    border-radius: 5px;
    margin-left: 30px;
    border: solid 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.border_left {
    border-left: solid 2px #946c45;
    border-radius: 0em;
    background-color: #fcf8e3;
    color: #946c45;
}

/***** common setting *****/

.display-full {
    height: 100%;
}

.min-height-fit {
    min-height: 1200px;
}

.min-height-side-fit {
    min-height: 1200px;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.align-stretch {
    align-self: stretch;
}

.sidebar-toggle {
    display: none;
}

.sidebar-off {
    display: none;
}

@media (max-width: 1199px) {
    .sidebar {
        display: none;
    }

    .sidebar-toggle {
        display: block;
        background-color: #262626;
        border-bottom: solid 1px #1a1a1a;
        color: #ffffff;
        border: none;
    }

    .min-height-side-fit {
        min-height: auto;
    }
}

@media (max-width: 991px) {
    .flex-parent {
        align-content: flex-start;
    }

    .min-height-fit {
        min-height: auto;
    }
}

/***** margin *****/

.margin-dis {
    margin: 0;
}

.margin-dis-horizontal {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-dis-top {
    margin-top: 0;
}

.margin-dis-bottom {
    margin-top: 0;
}

.margin-dis-right {
    margin-right: 0;
}

.margin-dis-left {
    margin-left: 0;
}

.margin-set-regular {
    margin: 15px;
}

.margin-set-top-medium {
    margin-top: 30px;
}

.margin-set-top-regular {
    margin-top: 15px;
}

.margin-set-top-small {
    margin-top: 10px;
}

.margin-set-left-small {
    margin-left: 10px;
}

.margin-set-bottom-medium {
    margin-bottom: 30px;
}

.margin-set-bottom-regular {
    margin-bottom: 15px;
}

.margin-set-bottom-small {
    margin-bottom: 10px;
}

.margin-set-bottom-xsmall {
    margin-bottom: 5px;
}

.margin-set-right-small {
    margin-right: 8px;
}

.margin-set-right-xsmall {
    margin-right: 5px;
}

p.margin-top-8 {
    margin-top: 8px;
}

p.text-alert {
    text-align: right;
    margin-top: 28px;
}

p.text-align-right {
    text-align: right;
}

@media (max-width: 991px) {
    p.text-alert {
        text-align: left;
    }
}

/***** padding *****/

.padding-set-xsmall {
    padding: 5px;
}

.padding-set-small {
    padding: 10px;
}

.padding-set-regular {
    padding: 15px;
}

.padding-dis {
    padding: 0;
}

.padding-dis-top {
    padding-top: 0;
}

.padding-dis-bottom {
    padding-bottom: 0;
}

.padding-dis-left {
    padding-left: 0;
}

.padding-dis-right {
    padding-right: 0;
}

.padding-dis-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.padding-set-vertical-medium {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-set-vertical-regular {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-set-vertical-small {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-set-horizontal-regular {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-set-horizontal-small {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-set-horizontal-xsmall {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-set-top-medium {
    padding-top: 30px;
}

.padding-set-top-regular {
    padding-top: 15px;
}

.padding-set-top-small {
    padding-top: 8px;
}

.padding-set-bottom-regular {
    padding-bottom: 15px;
}

.padding-set-bottom-small {
    padding-bottom: 8px;
}

.padding-set-right-regular {
    padding-right: 15px;
}

.padding-set-right-small {
    padding-right: 8px;
}

/***** clearfix ******/

.clearfix {
    overflow: hidden;
}

/***** table *****/

.inactive {
    background-color: #e6e6e6;
}

.width-set-small {
    width: 5%;
}

.width-set-regular {
    width: 10%;
}

.width-set-medium {
    width: 15%;
}

.width-set-Large {
    width: 25%;
}

.nowrap {
    white-space: nowrap;
}

/***** font *****/

.font-size-large {
    font-size: 24px;
}

.font-size-medium {
    font-size: 18px;
}

.font-size-regular {
    font-size: 14px;
}

.font-size-small {
    font-size: 11px;
}

.font-size-xsmall {
    font-size: 9px;
}

.font-color-white {
    color: #ffffff;
}

.font-color-yellow {
    color: #fbb03b;
}

.font-color-red {
    color: #dc143c;
}

.font-color-green {
    color: #39b54a;
}

.font-color-icegreen {
    color: #00a99d;
}

.font-color-blue {
    color: #0071bc;
}

.font-color-violet {
    color: #3c2d91;
}

.font-color-cherry {
    color: #ed1e79;
}

.font-color-orange {
    color: #f15a24;
}

.font-color-pink {
    color: #f05078;
}

.font-color-deepblue {
    color: #1b1464;
}

.font-color-brown {
    color: #754c24;
}

.font-bold {
    font-weight: bold;
}

/**** layout setting *****/

.height-set-delivery {
    height: 36px;
}

/**** decoration setting *****/

.bg-light-gray {
    background-color: #f2f2f2;
}

.bg-middle-gray {
    background-color: #e6e6e6;
}

.bg-lime-yellow {
    background-color: #eaeea2;
}

.bg-lite-pink {
    background-color: #edc9d9;
}

.bg-blue {
    background-color: #3097d1;
}

.bg-cherry {
    background-color: #ed1e79;
}

.bg-green {
    background-color: #009245;
}

.bg-orange {
    background-color: #f15a24;
}

.border-set-blue {
    border: solid 1px #3097d1;
}

.border-set-cherry {
    border: solid 1px #ed1e79;
}

.border-set-green {
    border: solid 1px #009245;
}

.border-set-orange {
    border: solid 1px #f15a24;
}

.border-set-top-gray {
    border-top: solid 1px #d3e0e9;
}

.border-set-left-skyblue {
    border-left: solid 5px #64b1dd;
}

.border-set-bottom-sian {
    border-bottom: solid 1px #3097d1;
}

.panel-body .list-rows:last-child {
    border: none;
}

.radius-small {
    border-radius: 3px;
}

.label-cherry {
    background-color: #d4145a;
}

.label-gray {
    background-color: #606060;
}

.label-yellow {
    background-color: #fbb03b;
}

.label-set-bottom {
    padding-bottom: 0.1em;
}

.btn-default {
    box-shadow: 0 -3px #cccccc inset;
}

.btn-default[disabled="disabled"] {
    background-color: #cccccc;
    color: #666666;
}

.btn-default:hover[disabled="disabled"] {
    background-color: #cccccc;
    color: #666666;
}

.btn-default:hover {
    box-shadow: 0 -3px #adadad inset;
}

.btn-primary {
    box-shadow: 0 -3px #2a88bd inset;
}

.btn-primary:hover {
    box-shadow: 0 -3px #133d55 inset;
}

.btn-success {
    box-shadow: 0 -3px #20895e inset;
}

.btn-success:hover {
    box-shadow: 0 -3px #196c4b inset;
}

.btn-danger {
    box-shadow: 0 -3px #aa4a24 inset;
}

.btn-danger:hover {
    box-shadow: 0 -3px #411c0e inset;
}

.fa-crown {
    color: #ffd700;
}

div.list-rows:nth-child(odd) {
    background-color: #cbe5f3;
}

div.list-rows:first-child {
    background-color: #ffffff;
}

div.list-rows.font-color-red .border-set-left-skyblue {
    border-left: solid 5px #dc143c;
}

/**** navbar *****/

.navbar-logo {
    width: 220px;
}

/**** sidebar *****/

.navbar {
    margin-bottom: 0;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
    /* padding-bottom: 100%; */
    background-color: #313131;
    color: #ffffff;
}

.sidebar h1 {
    margin: 0;
    padding: 12px 18px;
    background-color: #262626;
    border-bottom: solid 1px #1a1a1a;
}

.sidebar ul {
    margin: 0;
}

.sidebar li {
    padding: 12px 18px;
}

.sidebar a {
    color: #ffffff;
}

.sidebar form {
    padding: 12px 18px;
}

/**** sidebar part *****/

.panel .panel-heading h1 {
    margin: 0px;
    padding: 8px;
    float: left;
    font-size: 18px;
}

.panel .panel-heading span {
    float: right;
}

.panel .panel-heading {
    overflow: hidden;
    color: #ffffff;
}

.panel .table {
    font-size: 11px;
}

.panel .table th {
    text-align: center;
}

.panel .table td {
    vertical-align: middle;
}

.text-align-center {
    text-align: center;
}

/**** panel color variation *****/

/***** sian *****/

.panel-sian {
    border: solid 1px #3097d1;
}

.panel-sian .panel-heading {
    background-color: #3097d1;
}

.panel-sian .table th {
    border-bottom: solid 2px #3097d1;
}

.panel-sian .table td {
    border-top: solid 1px #3097d1;
}

.panel-sian .border-set-top {
    border-top: solid 1px #3097d1;
}

/***** green *****/

.panel-green {
    border: solid 1px #7ac943;
}

.panel-green .panel-heading {
    background-color: #7ac943;
}

.panel-green .table th {
    border-bottom: solid 2px #7ac943;
}

.panel-green .table td {
    border-top: solid 1px #7ac943;
}

.panel-green .border-set-top {
    border-top: solid 1px #7ac943;
}

/***** cherry *****/

.panel-cherry {
    border: solid 1px #d4145a;
}

.panel-cherry .panel-heading {
    background-color: #d4145a;
}

.panel-cherry .table th {
    border-bottom: solid 2px #d4145a;
}

.panel-cherry .table td {
    border-top: solid 1px #d4145a;
}

.panel-cherry .border-set-top {
    border-top: solid 1px #d4145a;
}

.panel-cherry .table .checked {
    background-color: #ffe4e1;
    /* background-color: #ff69b4;
  color: #FFFFFF; */
}

/**** block global icon *****/

.svg-icon-size-large {
    margin-right: 8px;
    height: 24px;
}

.svg-icon-size-medium {
    height: 18px;
}

.svg-icon-size-regular {
    margin-right: 8px;
    height: 14px;
}

.svg-icon-size-small {
    margin-right: 6px;
    height: 11px;
}

.icon-margin-dis {
    margin-right: 0;
}

.svg-icon-size-search {
    width: 22px;
    height: 22px;
}

/**** block icon *****/

.icon-info {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1;
}

.icon-info img {
    margin-right: 8px;
    width: 36px;
    float: left;
}

.icon-info h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
}

.icon-info p {
    margin-bottom: 0;
    font-weight: bold;
}

/**** notice animation *****/

.dot {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fbb03b;
}

.letter {
    display: inline-block;
    margin: 0 3px;
}

.dot:nth-child(1) {
    animation: 1s fade 5 0.1s;
}

.dot:nth-child(2) {
    animation: 1s fade 5 0.2s;
}

.dot:nth-child(3) {
    animation: 1s fade 5 0.3s;
}

.dot:nth-child(4) {
    animation: 1s fade 5 0.4s;
}

.letter {
    animation: 1s opt 5 0.5s;
}

.error-red {
    color: crimson;
}

.fvl-select div {
    position: absolute;
    right: 5px;
    top: 10px;
}

.fvl-select svg {
    width: 20px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opt {
    from {
        opacity: 0;
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/**** responsive wide *****/

@media (max-width: 1199px) {
    .responsive-wide-md {
        display: block;
    }
}

@media (max-width: 991px) {
    .responsive-wide-sm {
        display: block;
    }
}

@media (max-width: 764px) {
    .responsive-wide-xs {
        display: block;
    }
}
