div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,p,span,blockquote,th,td,figure,hr {
   margin:0;
   padding:0;
}
/*--material
  overflow:auto;

*/

/*--common--*/
.logo_height  {height:2rem;}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

/*--side menu--*/
.side-base  {
  background: #196f2e;
  /*background: #19436f;*/
}
.side-head  {
  background: #17670d;
  /*background: #0d3867;*/
}
[data-toggle].btn-secondary {
  background: #196f2e;
}

/*--main title--*/
.bg-secondary {
  background: #17670d !important;
}

/*--------------------## EDIT WORK ORDER ##--------------------*/
.print_view {display:none;}
.title_editworkorder  {font-size:1.4rem; text-align:center;}
#input-area_1 {
  border: 1px solid #ccd4dd;
}
#input-area_1 h2 {
  font-size:1.8rem; text-align:center;
  /*border-top: 1px solid #ccd4dd;*/
  padding-top:8px;
  padding-bottom:4px;
}
#input-area_1 .input-area-prepend  {
  color:#000;
}
/*--input項目名--*/
#input-area_1 .input-area-text {
  display: flex;
  height: 1.2rem;
  align-items: center;
  padding: 0.15rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  /*line-height: 1.6rem;*/
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  /*border: 1px solid #ced4da;*/
  /*border-radius: 0.25rem;*/
}
/*--inputフォーム--*/
#input-area_1 .form-control {
  display: block;
  width: 100%;
  /*height: calc(1.6em + 0.75rem + 2px);*/
  height: 36px;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  /* border-radius: 0.25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*--納期年月日--*/
#input-area_1 .vdp-datepicker div input {
  display: flex;
  flex: 1 1 auto;
  height:36px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0px solid #ced4da;
  color: #495057;
}
#input-area_1 .fontsize0 {font-size:0;}
#input-area_1 .inlineblock  {display:inline-block;}
#input-area_1 .tankaatto  {width:15%; text-align:right; font-size:0.9rem;}
#input-area_1 .tankainput  {width:85%; font-size:0.9rem;}
#input-area_1 .inputnum_r {
  text-align:right;
}

#input-area_1 .storage_sheet_input  {width:auto;}
#input-area_1 .storage_sheet_text  {width:4em;}



.col-cnt_22 {
  flex: 0 0 100%;
  max-width: 100%;
}
/*--各項目の横幅 1段目--*/
.col-cnt_01 {
  flex: 0 0 70%;
  max-width: 70%;
}
.col-cnt_21 {
  flex: 0 0 30%;
  max-width: 30%;
}
/*--各項目の横幅 2段目--*/
.col-cnt_02 {
  flex: 0 0 10%;
  max-width: 10%;
}
.col-cnt_03 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-cnt_04 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-cnt_05 {
  flex: 0 0 10%;
  max-width: 10%;
}
.col-cnt_06 {
  flex: 0 0 23%;
  max-width: 23%;
}
.col-cnt_07 {
  flex: 0 0 7%;
  max-width: 7%;
}
/*--各項目の横幅 3段目--*/
.col-cnt_08 {
  flex: 0 0 20%;
  max-width: 20%;
}
.col-cnt_09 {
  flex: 0 0 40%;
  max-width: 40%;
}
.col-cnt_10 {
  flex: 0 0 10%;
  max-width: 10%;
}
.col-cnt_11 {
  flex: 0 0 30%;
  max-width: 30%;
}
/*--各項目の横幅 4段目--*/
.col-cnt_12 {
  flex: 0 0 70%;
  max-width: 70%;
}
.col-cnt_13 {
  flex: 0 0 10%;
  max-width: 10%;
}
.col-cnt_14 {
  /*未使用*/
  flex: 0 0 15%;
  max-width: 15%;
}
.col-cnt_15 {
  flex: 0 0 20%;
  max-width: 20%;
}
/*--各項目の横幅 5段目--*/
.col-cnt_16 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-cnt_17 {
  flex: 0 0 10%;
  max-width: 10%;
}
.col-cnt_18 {
  /*未使用*/
  flex: 0 0 10%;
  max-width: 10%;
}
.col-cnt_19 {
  flex: 0 0 30%;
  max-width: 30%;
}
.col-cnt_20 {
  flex: 0 0 10%;
  max-width: 10%;
}

/*--項目のパディング--*/
.pb-2 {
  padding-bottom: 0rem !important;
}

/*--印刷ボタン--*/
#btn_cnt4 {
  display:-webkit-flex;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  padding:10px 15px 5px 15px;
  background:#FFF;
}
#btn_cnt4 .btn_col_1  {
  flex: 0 0 300px;
  padding:0 20px;
}
#btn_cnt4 .btn_sty_1 a  {
  flex:0 0 200px;
}
#btn_cnt4 .btn_sty_1 a:hover  {
  color:#FFF;
}


/*--工程--*/
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
#table_cnt1  {width: 100%;}
#table_cnt1 .form-control {
  display: block;
  width: 100%;
  /*height: calc(1.6em + 0.75rem + 2px);*/
  padding: 0.2rem 0rem 0.2rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  /*line-height: 1.6;*/
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  /*border-radius: 0.25rem;*/
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#table_cnt1 .table th, .table td {
  padding: 0.2rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}
#table_cnt1 .td-first  {
  border-left: 0px solid #dee2e6;
}
#table_cnt1 tbody tr {
  background-color: rgba(255, 255, 255, 1);  
}
.w-5{width:0;}
.w-15{width:0;}
#table_cnt1 td.w1  {max-width:5em;}
#table_cnt1 td.w2  {width:45%;}
#table_cnt1 td.w3  {width:20%;}
#table_cnt1 td.w4  {width:10%;}
#table_cnt1 td.w5  {width:10%;}
#table_cnt1 td.w6  {width:auto;}
#table_cnt1 .ws1 {
  width:3.4rem;
}
#table_cnt1 .ws2 {
  width:1rem;
}
#table_cnt1 .pad1  {
  padding-left:0;
}
#table_cnt1 .pad2  {
  padding-right:2rem;
}
#table_cnt1 .f_style_1 {
  border-top:3px double #dee2e6;
}
#table_cnt1 .str_style1 {
  font-size:1rem;
}



#table_cnt1 .jtime  {
  padding-top:12px;
  padding-bottom:12px;
}
#table_cnt1 .inputnum_r {
  text-align:right;
}


/*--下部コンテンツ：加工時間実績等--*/
#table_cnt2 {
  width:100%;
  border-collapse: collapse;
  margin-bottom:15px;
}
#table_cnt2 td {
  padding:4px 8px;
  border: solid 1px #dee2e6;
  line-height:1.1rem;
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
}
#table_cnt2 .border_off_l {
  border-left:none 0px;
}
#table_cnt2 .border_off_r {
  border-right:none 0px;
}
#table_cnt2 .border_off_t {
  border-top:none 0px;
}
#table_cnt2 .border_off_b {
  border-bottom:none 0px;
}
#table_cnt2 .border_off {
  border:none 0px;
}
#table_cnt2 .nowrap {
  white-space: nowrap;
}
#table_cnt2 .wrmode {
/*
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
*/
  text-align: center;
  vertical-align: middle;
  width:2rem;
  height:192px;
}
#table_cnt2 .flex1  {
  display:-webkit-flex;
  display:flex;
  align-items: center;
  width:100%;
}
#table_cnt2 .cnt2_name  {
  flex:auto;
  text-align:left;
}
#table_cnt2 .cnt2_hm {
  flex:auto;
  text-align:right;
}
#table_cnt2 .str01 {
  margin-left:5px;
}

#table_cnt2 .flex2  {
  display:-webkit-flex;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
}
#table_cnt2 .str03 {
  flex:none;
  text-align:center;
}

#table_cnt2 .textalign1 {
  text-align: right;
}
#table_cnt2 .frame_wh1  {
  height:48px;
  width:15%;
}
#table_cnt2 .frame_wh2  {
  width:10%;
}
#table_cnt2 .ws1 {
  width:2rem;
}
#table_cnt2 .ws2 {
  width:1rem;
}
#table_cnt2 .pad1  {
  padding-left:0;
}

/*--QRコード--*/
#view_off {
  display:none;
}
#position_base1  {
  position: relative;
}
#position_base1 .cnt_view_qr  {
  /*display:none;*/
  position: absolute;
  top:30%;
  width:100%;
}
#position_base1 .cnt_view_position  {
  text-align:center;
}


/*--------------------## process info Mobile ##--------------------*/
#table_cnt3 {
  width:100%;
  border-collapse: collapse;
  margin-bottom:15px;
}
#table_cnt3 td{
  padding:0.75rem;
}
#table_cnt3 .w1 {
  width:30%;
}

#input_cnt1 {
  display:flex;
  align-items: center;
  justify-content: center;
}
#input_cnt1 span  {
  display:inline-block;
}
#input_cnt1 span.input_w1 {
  padding:0 8px;
  width:5em;
}
#input_cnt1 .form-control {
  padding:0 0 0 8px;
}

#btn_cnt1 {
  display:-webkit-flex;
  display:flex;
  align-items: center;
  justify-content: space-between;;
  width:100%;
  padding:0 15px;
  background:#FFF;
  padding-top:20px;
}
#btn_cnt1 .btn_col_1  {
  flex: 0 0 30%;
  max-width: 30%;
}
#btn_cnt1 .btncolor1  {
	background: #80bb60;
  border:none;
}
#btn_cnt1 .btncolor2  {
	background: #dd6060;
  border:none;
}
#btn_cnt1 .btncolor3  {
	background: #6cb2eb;
  border:none;
  outline: none;
}
#btn_cnt1 .btncolor1:hover, #btn_cnt1 .btncolor2:hover, #btn_cnt1 .btncolor3:hover, #cancelbtn:hover {
  color: #212529;
}
#btn_cnt1 .btncolor1:hover  {
	background: rgba(128, 187, 96, 0.7);
}
#btn_cnt1 .btncolor2:hover  {
  background:rgba(221, 96, 96, 0.7);
}
#btn_cnt1 .btncolor3:hover  {
	background: rgba(108, 178, 235, 0.7);
}



#btn_cnt2 {

  display:-webkit-flex;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  /*padding-left: 25px;*/
  background:#FFF;
  padding-top:20px;
}
#btn_cnt2 .btn_col_1  {
  flex: 0 0 30%;
  max-width: 30%;
}
#btn_cnt2 .btncolor11  {
	background: #80bb60;
	/*background: #bb8c60;*/
  border:none;
}
#btn_cnt2 .btncolor12  {
	background: #60bbac;
  border:none;
}
#btn_cnt2 .btncolor13  {
	background: #dd6060;
  border:none;
}
#btn_cnt2 .btncolor14  {
	/*background: #bb6086;*/
	background: #6cb2eb;
  border:none;
}
#btn_cnt2 .btncolor15  {
	background: #eeaa00;
  border:none;
}
#btn_cnt2 .btncolor11:hover  {
  color: #212529;
	background: rgba(128, 187, 96, 0.7);
	/*background: rgba(187, 140, 96, 0.7);*/
}
#btn_cnt2 .btncolor12:hover  {
  color: #212529;
	background: rgba(96, 187, 172, 0.7);
}
#btn_cnt2 .btncolor13:hover  {
  color: #212529;
  background:rgba(221, 96, 96, 0.7);
}
#btn_cnt2 .btncolor14:hover  {
  color: #212529;
	/*background: #bb6086;*/
	background: rgba(108, 178, 235, 0.7);
}
#btn_cnt2 .btncolor15:hover  {
  color: #212529;
	background: rgba(238, 170, 0, 0.7);
}

button:focus {
	outline:none;
  outline-style: none;
}


/*--------------------## process view ##--------------------*/
.title001 {
  font-size:1.2rem;
  letter-spacing: 0.2rem;
  padding:0.5rem 0;
}

#cnt_p_view {
  flex: 0 0 100%;
  max-width: 100%;
  padding:0 15px;
}

#table_cnt4 {
  width:100%;
  border-collapse: collapse;
  margin-bottom:15px;

}
#table_cnt4 .style1{
background:#DDEECC;
border-bottom:4px solid #88CC88;
white-space: nowrap;
}
#table_cnt4 .td_active {
  background:#dd6060;
  color:#FFF;
  }
  #table_cnt4 td {
  font-size:2rem;
}
#table_cnt4 .textwrap {
  white-space: normal;
  overflow-wrap: break-word;
}

#table_cnt4 td.w1 {
 width:6em;
}
#table_cnt4 td.w7 {
  width:5em;
}
#table_cnt4 td.w8 {
  width:3em;
}
 
/*--------------------## table progress header  (TOP page) ##--------------------*/
#search_btn_cnt {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
#search_btn_cnt .flex_width {
  flex: 1 1 auto;
}


#divtable {
  display:block;
  width:100%;
}
#divtable .scrollbox  {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
}
#divtable .cate_top {
  display:flex;
  width:100%;
}
#divtable .cate_top_cell  {
    padding: 0rem;
    border-style: solid dashed ;
    border-width: 1px ;
    border-color: #95c5ed #dee2e6;
    white-space: nowrap;
}

#divtable .divtable_cnt {
  width:100%;
  display:flex;
  align-items: stretch;
  flex-wrap:wrap;
}
#divtable .cate_side {
  width:20%;
}
#divtable .cate_main {
  /*flex:1 1 auto;*/
  width:80%;
}




#table_cnt5 {
  width:100%;
  border-collapse: collapse;
  margin-bottom:15px;
}
#table_cnt5 .w1{
  width:50px;
}
#table_cnt5 .w2{
  width:120px;
}
#table_cnt5 .w3{
  width:210px;
}
#table_cnt5 .w4{
  width:100px;
}
#table_cnt5 .w5{
  width:40px;
}
#table_cnt5 .w6{
  width:240px;
}
#table_cnt5 .w7{
  width:50px;
}
#table_cnt5 .w8{
  width:230px;
}
#table_cnt5 .w9{
  width:230px;
}
#table_cnt5 .textwrap {
  white-space: normal;
  overflow-wrap: break-word;
}


#input-area_2  {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: stretch;
  /*justify-content: space-between;*/
  border: 1px solid #ced4da;

}
#input-area_2 .input-area-prepend {
  display: flex;
  align-items: center;
  background-color: #e9ecef;
}
#input-area_2 .input-area-text {
  display: flex;
  align-items: center;
  /*background-color: #CCDD88;*/
  height: 1.2rem;
  padding: 0.15rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  /*line-height: 1.6rem;*/
  color: #495057;
  text-align: center;
  white-space: nowrap;
  /*border: 1px solid #ced4da;*/
  /*border-radius: 0.25rem;*/
}
#input-area_2 .form-control {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  /* border-radius: 0.25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#input-area_2 .vdp-datepicker input {
  display: flex;
  flex: 1 1 auto;
  height: calc(1.6em + 0.75rem + 2px);
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0px solid #ced4da;
  color: #495057;
}
#input-area_2 .w1{width:5rem;}
#input-area_2 .w_cate {
  flex: 0 0 80px;
  width:80px;
}
#btn_cnt3 {
  display:-webkit-flex;
  display:flex;
  align-items: center;
  justify-content: center;;
  width:100%;
  padding:10px 15px 15px 15px;
  background:#FFF;
}
#btn_cnt3 .btn_col_1  {
  flex: 0 0 90%;
  max-width: 90%;
}

#btn_cnt5 {
  display:-webkit-flex;
  display:flex;
  /*align-items: stretch;*/
  align-items: center;
  justify-content: flex-start;
  width:100%;
  padding:0px 0px 10px 0px;
  background:#FFF;
}
#btn_cnt5 .btn_col_1  {width:10em;}
#btn_cnt5 .btn_col_2 input  {
  color:#495057;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #e9ecef;
  border:1px solid #ced4da;
  border-bottom: 4px solid #ced4da;
}




.transition1  {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*--print out--*/
@media print {
  .print_view {display:block;}
  .col-cnt_04 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .col-cnt_06 {
    flex: 0 0 28%;
    max-width: 28%;
  }
  #view_off {
    display:block;
  }
  /*
  #position_base1 .cnt_view_qr  {
    display:block;
  }
  */
  #table_cnt1 td.w2  {width:35%;}
  #table_cnt1 td.w4  {width:12%;}
  #table_cnt1 .ws1 {width:5%;}

  #table_cnt2 tr {
    height:48px;
  }
  #table_cnt2 .wrmode {
  border-top:none 0px;
  border-bottom:none 0px;
  border-left:none 0px;
  vertical-align: middle;
  height:192px;
  }
  #table_cnt2 td  {
    padding:4px 4px;
  }
  #table_cnt2 .str01{
    margin-left: 2px;
  }
  

}

